*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
    background-color:var(--color-secundario);
}




:root{
    --color-primario:rgb(17, 16, 16);
    --color-secundario:rgb(13, 12, 12);
    --color-title:rgb(222, 5, 48);
    --color-parrafos:rgb(255, 255, 255);
}

/**css para pantallas pc**/
.email, .img-logo img, .container-redes div a img, .pie-pagina .email-footer img, .mobile div img{
    filter: invert(11%) sepia(59%) saturate(4533%) hue-rotate(350deg) brightness(104%) contrast(115%);
    -webkit-filter: invert(11%) sepia(59%) saturate(4533%) hue-rotate(350deg) brightness(104%) contrast(115%);
    filter: invert(34%) sepia(68%) saturate(7199%) hue-rotate(351deg) brightness(94%) contrast(93%);
    filter: invert(12%) sepia(100%) saturate(5155%) hue-rotate(343deg) brightness(88%) contrast(102%);
}


img{
    width: 35px;
}

h1{
    color:var(--color-title);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    
    
}

p{
    color: var(--color-parrafos);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    
}

.hola{
    color: var(--color-parrafos);
}

hr{
    border-color:var(--color-secundario);
    width: 90%;
}

span{
    color: var(--color-title);
}


@media (max-width: 600px){    

 .logo, .pc{
    display: none;
 }

 .nav-menu{
     width: 100%;
     height: 10vh;
    background-color:var(--color-secundario);
    position: absolute;
    bottom: 0;
    position: fixed;
    z-index: 9;
 }

 .mobile{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .section-one{
    background-image: url(images/fondo-textura-grunge-rojo-negro_1409-1600.webp);
    background-size: cover;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .article, .portada{
    width: 90%;
    display: flex;
    justify-content: center;
 }

 .img-portada, .portada{
    width:250px;
    height: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.section-two{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.habilidades{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logos{
    width: 250px;
    height:270px;
    margin-bottom: 10px;
}
.img-logo{
    width: 70%;
    height: 50%;
    margin: 0 auto;
}

.img-logo img{
    width: 100%;
    height: 100%;
}

.parrafo{
    width: 100%;
    height: 50%;
}

.section-three{
    width: 100%;
    height: auto;
}

.cards{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    width:280px;
    height: 300px;
    border: .2px solid var(--color-title);
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.6) ;
    transition: all 400ms ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-container:hover{
    box-shadow: 7px 7px 20px rgba(0,0,0,0.8);
    transform: translateY(-1%);
    -webkit-transform: translateY(-1%);
    -moz-transform: translateY(-1%);
    -ms-transform: translateY(-1%);
    -o-transform: translateY(-1%);
}

.img-card{
    width: 100%;
    height: 70%;
}

.img-card img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.container-redes{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.container-redes div a img{
    width: 30px;
    height: 30px;
}

.parrafo-card{
    text-align: center;
    color: var(--color-parrafos);
}

.pie-pagina{
    width: 100%;
    height: auto;
}

.mensaje{
    width: 100%;
    height: 100px;
    text-align: center;
}

.email-footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.email-footer img{
    width: 30px;
}

.redes-footer{
width: 100%;
height: 200px;
display: flex;
align-items: center;
margin-bottom: 30px;
}


}

@media (min-width:601px){

    .logo, .pc{
        display: none;
     }
    
     .nav-menu{
         width: 100%;
         height: 10vh;
        background-color:var(--color-secundario);
        position: absolute;
        bottom: 0;
        position: fixed;
        z-index: 9;
     }
    
     .mobile{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }
    .nav-menu{
        width: 100%;
        height: 10vh;
       background-color:var(--color-secundario);
       position: absolute;
       bottom: 0;
       position: fixed;
       z-index: 9;
    }
   
   
    .section-one{
       background-image: url(images/fondo-textura-grunge-rojo-negro_1409-1600.webp);
       background-size: cover;
       width: 100%;
       height: 100vh;
       display: flex;
       flex-direction: column;
       align-items: center;
    }
   
    
   
    .img-portada{
       width: 350px;
       height: 350px;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
}
   
   .section-two{
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: column;
   }
   
   .habilidades{
    width: 90;
    height:auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns:50% 50%;
   
   }
   
   .logos{
       width: 250px;
       height:300px;
       margin-bottom: 30px;
   }
   .img-logo{
       width: 70%;
       height: 50%;
       margin: 0 auto;
   }
   
   .img-logo img{
       width: 100%;
       height: 100%;
   }
   
   .parrafo{
       width: 100%;
       height: 50%;
       
   }
   
   .section-three{
       width: 100%;
       height: auto;
   }
   
   .cards{
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   .card-container{
       width:280px;
       height: 300px;
       border: .2px solid var(--color-title);
       border-radius: 10px;
       margin-bottom: 30px;
       box-shadow:5px 5px 15px rgba(0, 0, 0, 0.6) ;
       transition: all 400ms ease;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
   }
   
   .card-container:hover{
       box-shadow: 7px 7px 20px rgba(0,0,0,0.8);
       transform: translateY(-1%);
       -webkit-transform: translateY(-1%);
       -moz-transform: translateY(-1%);
       -ms-transform: translateY(-1%);
       -o-transform: translateY(-1%);
   }
   
   .img-card{
       width: 100%;
       height: 70%;
   }
   
   .img-card img{
       width: 100%;
       height: 100%;
       background-size: cover;
       border-radius: 10px 10px 0 0;
       -webkit-border-radius: 10px 10px 0 0;
       -moz-border-radius: 10px 10px 0 0;
       -ms-border-radius: 10px 10px 0 0;
       -o-border-radius: 10px 10px 0 0;
   }
   
   .container-redes{
       width: 100%;
       height: 30%;
       display: flex;
       justify-content: space-evenly;
       align-items: flex-end;
   }
   
   .container-redes div a img{
       width: 30px;
       height: 30px;
   }
   
   .parrafo-card{
       text-align: center;
       color: var(--color-parrafos);
   }
   
   .pie-pagina{
       width: 100%;
       height: auto;
   }
   
   .mensaje{
       width: 100%;
       height: 100px;
       text-align: center;
   }
   
   .email-footer{
       width: 100%;
       height: auto;
       display: flex;
       justify-content: center;
   }
   
   .email-footer img{
       width: 30px;
   }
   
   .redes-footer{
   width: 100%;
   height: 200px;
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   }
}

@media (min-width: 950px){

    a{
      color: var(--color-title);
      text-decoration: none;
      font-size:22px;
    }

    .mobile{
        display: none;
    }

    

    .nav-menu{
        width: 100%;
        height: 10vh;
        background-color: var(--color-secundario);
        position: absolute;
        top: 0;
        position: fixed;
    }

    .nav{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 15% 35% 50%;
    }

    .pc{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    

    .logo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .section-one{
        clip-path: polygon(0 0,100% 0,100% 90%, 50% 100%, 0 90%);
        width: 100%;
        height: 90vh;
        position: relative;
        top: 10vh;
        display:grid;
        grid-template-columns: 50% 50%;
        place-items: center;
    }

    .article{
        width: 60%;
        text-align: center;
    }


    .section-two{
        background-color: var(--color-secundario);
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        top: 10vh;

    }

    .habilidades{
        width: 70%;
        height:auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
    }

    .article-section-two{
        margin:30px ;
    }

    .section-three{
        background-color: var(--color-primario);
        width: 100%;
        height:auto;
        position: relative;
        top: 10vh;
        padding: 30px 0 60px 0;
    }

    .cards{
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
    }

    .card-container{
        width: 350px;
        height: 350px;
    }

   .pie-pagina{
    width: 100%;
    height: auto;
    position: relative;
    top: 10vh;
    
   }

    .redes-footer{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
        }
     

    
}



